@import "tailwindcss";

@theme {
  --color-surface: #0f0f17;
  --color-surface-raised: #16161f;
  --color-surface-overlay: #1c1c28;

  --color-accent: #7c6af7;
  --color-accent-hover: #6b5ce7;
  --color-accent-muted: #7c6af720;

  --color-success: #22c55e;
  --color-warning: #f59e0b;
  --color-danger: #ef4444;
  --color-border: #ffffff12;

  --font-mono: "JetBrains Mono", "Fira Code", monospace;
}

@layer base {
  html {
    min-height: 100%;
  }

  body {
    min-height: 100%;
    background-color: var(--color-surface);
    color: #e2e8f0;
  }

  button {
    cursor: pointer;
  }
}
